<app-nav-bar></app-nav-bar>
<section
  class="flex-grow flex items-center justify-center bg-gray-900 text-white px-4 py-16"
>
  <div class="max-w-3xl text-center">
    <h2 class="text-4xl font-bold mb-6 text-indigo-400">About Me</h2>
    <p class="text-lg leading-relaxed mb-4">
      I'm Alireza Nikravesh, a passionate developer with over 10 years of
      experience in software development, especially in Microsoft technologies.
      I love building modern, scalable applications that solve real problems.
    </p>
    <p class="text-lg leading-relaxed mb-4">
      I have developed enterprise solutions, worked with DDD, optimized large
      systems, and shared my projects on GitHub. Besides coding, I enjoy
      exploring history, cultures, and learning new technologies.
    </p>
    <p class="text-lg leading-relaxed">
      Let's connect and build something amazing together!
    </p>
  </div>
</section>
