<div>
  <div>
    <h5>Web</h5>
    <div class="d-flex flex-column skill-items">
      <div>
        <p>ASP.Net Core</p>
      </div>
      <ul class="d-flex">
        <li class="flex-fill">
          <div style="display: inline-block">
            <span class="responsive-span"></span>
          </div>
        </li>
        <li class="flex-fill">
          <div style="display: inline-block">
            <span class="responsive-span"></span>
          </div>
        </li>
        <li class="flex-fill">
          <div style="display: inline-block">
            <span class="responsive-span"></span>
          </div>
        </li>
        <li class="flex-fill">
          <div style="display: inline-block">
            <span class="responsive-span"></span>
          </div>
        </li>
        <li class="flex-fill">
          <div style="display: inline-block">
            <span class="responsive-span"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
