ul li {
  list-style-type: none;
}

.responsive-span {
  display: inline-block;
  width: 50%;
  height: 10px;
  background-color: rgb(224, 103, 103);
  width: 100%;
  margin: 10px;
}

.skill-items {
  width: 30vw;
}
