.footer {
  color: #fff;
  margin-top: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-me-ways {
  display: flex;
}

.footer-item {
  margin-right: 20px;
  list-style-type: none;
}

.footer-text {
  margin-top: 10px;
}
