@for(exp of experiences;track exp.company){
<div class="relative mb-10 pl-8">
  <div class="absolute left-2 top-3 bottom-0 border-l-2 border-gray-600"></div>

  <span
    class="absolute -left-1 top-1 rounded-full h-6 w-6"
    [ngClass]="'border-' + exp.color + ' bg-' + exp.color"
  ></span>

  <ul class="bg-gray-800 p-4 rounded-lg shadow">
    <h3 class="text-xl font-semibold italic">{{ exp.company }}</h3>
    @for(des of exp.description;track $index){
    <li class="list-disc text-gray-300 mt-2 ml-2">{{ des }}</li>
    }
    <span class="text-gray-400 text-sm">{{ exp.period }}</span>
  </ul>
</div>
}
