<div class="container">
  <div class="line"></div>
  <div class="header">
    <span class="dot"></span>
    <span class="title">Dotin</span>
  </div>
  <div class="content">
    I've developed a bunch of bank applications, websites and web apps as a
    developer and I tried to make them shine! C#, ASP.NETCore, Angular, Blazor
    and Sql server were the main tools that I've for the most of the projects. I
    was responsible for the development, test, deployment and maintaining the
    projects.
  </div>
  <div class="date">2022 - now</div>
</div>
<div class="container">
  <div class="line"></div>
  <div class="header">
    <span class="dot"></span>
    <span class="title">TosanTechno</span>
  </div>
  <div class="content">
    "I've developed a real-time ATM monitoring system using C#, MySQL, and
    RabbitMQ, with the WOSA XFS standard, that dramatically accelerated
    troubleshooting, leading to higher customer satisfaction and increased
    company revenue.
  </div>
  <div class="date">2018 - 2022</div>
</div>
<div class="container">
  <div class="line"></div>
  <div class="header">
    <span class="dot"></span>
    <span class="title">SAAT</span>
  </div>
  <div class="content">
    I spearheaded the development of a high-performance archival system
    utilizing C#, .Net Core, Entity Framework Core, and SQL Server. In addition,
    I enhanced a complex archival system by implementing robust tagging and
    metadata management, leading to a notable 25% boost in search speed and
    overall user satisfaction. Throughout this project, I worked as a crucial
    member of a 4-person Agile/Scrum team, contributing to all stages of
    development from design to deployment, and ensured the system consistently
    met evolving business needs.
  </div>
  <div class="date">2013 - 2018</div>
</div>
