 <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <h6 class="card-subtitle mb-2" style="color: green; font-weight: bold">
      {{ myName }}
    </h6>
    <p class="card-text">
      I am a passionate
      <span style="color: green; font-style: oblique">software developer</span>
      with a lifelong fascination for technology. My journey began when I was a
      child and bought my first computer. I spent countless hours playing
      <span style="color: green; font-style: oblique">video games</span>, but
      what intrigued me most was the magic behind their creation. I constantly
      thought about how these games were generated and the technology that
      powered them.
    </p>
    <p class="card-text">
      Driven by this curiosity, I pursued a degree in
      <span style="color: green; font-style: oblique"
        >software engineering</span
      >
      and successfully graduated. Today, I channel my passion into developing
      various types of software beyond just games. I find joy in the process of
      creating and innovating, and I'm always
      <span style="color: green; font-style: oblique">eager to learn</span>
      and explore new
      <span style="color: green; font-style: oblique"> technologies</span>.
    </p>
    <p class="card-text">
      Outside of coding, I enjoy reading and staying
      <span style="color: green; font-style: oblique"> up-to-date</span> with
      the latest trends in
      <span style="color: green; font-style: oblique"> technology</span>. My
      love for developing software and my quest for knowledge keeps me
      <span style="color: green; font-style: oblique"> motivated</span>
      and excited for the future.
    </p>
  </div>