<div class="p-6 bg-gray-800 rounded-lg shadow-lg text-white max-w-6xl mx-auto">
  <h3 class="text-xl font-bold text-green-400 mb-4">{{ myName }}</h3>

  <p class="text-base leading-relaxed mb-4">
    I am a passionate
    <span class="text-green-400 italic">software developer</span>
    with a lifelong fascination for technology. My journey began when I was a
    child and bought my first computer. I spent countless hours playing
    <span class="text-green-400 italic">video games</span>, but what intrigued
    me most was the magic behind their creation. I constantly thought about how
    these games were generated and the technology that powered them.
  </p>

  <p class="text-base leading-relaxed mb-4">
    Driven by this curiosity, I pursued a degree in
    <span class="text-green-400 italic">software engineering</span>
    and successfully graduated. Today, I channel my passion into developing
    various types of software beyond just games. I find joy in the process of
    creating and innovating, and I'm always
    <span class="text-green-400 italic">eager to learn</span>
    and explore new
    <span class="text-green-400 italic">technologies</span>.
  </p>

  <p class="text-base leading-relaxed">
    Outside of coding, I enjoy reading and staying
    <span class="text-green-400 italic">up-to-date</span> with the latest trends
    in <span class="text-green-400 italic">technology</span>. My love for
    developing software and my quest for knowledge keeps me
    <span class="text-green-400 italic">motivated</span>
    and excited for the future.
  </p>
</div>
