.container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.banner-photo {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.greeting {
  font-size: 2rem;
}

.banner-name {
  font-size: 4rem;
  text-transform: uppercase;
  display: block;
}

.text-color {
  color: #ffbd39;
}

.banner-description {
  font-size: 2rem;
}
