/* home.component.css */
.text-typing {
  font-family: monospace;
  white-space: nowrap;
  border-right: 2px solid #fff;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}
