.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.banner-photo {
  margin-top: 5rem;
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

.greeting {
  font-size: 2rem;
}

.banner-name {
  text-transform: uppercase;
  display: block;
  margin: 0;
  border: 0;
}

.text-color {
  color: #ffbd39;
}

.banner-description {
  font-size: 1.5rem;
}
