* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1c2541;
  color: #fff;
  height: calc(100vh - 91px);
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
