<div class="container">
  <div class="logo" routerLink="">
    <img class="logo-photo" src="assets/images/logo-photo.jpg" alt="Alireza" />
    <span class="logo-title">Alireza Nikravesh</span>
  </div>
  <ul class="nav-items">
    <li class="item">
      <a class="underline-hover" routerLink="/about" routerlinkactive="active">
        <div class="inner-item">
          <i class="bi bi-info-circle"></i>
          <span>About</span>
        </div>
      </a>
    </li>
    <li class="item">
      <a routerLink="/skills" class="underline-hover active">
        <div class="inner-item">
          <i class="bi bi-braces"></i>
          <span>Skills </span>
        </div>
      </a>
    </li>
    <li class="item">
      <a routerLink="/portfolio" class="underline-hover active">
        <div class="inner-item">
          <i class="bi bi-file-earmark-person"></i>
          <span>Portfolio</span>
        </div>
      </a>
    </li>
    <li class="item">
      <a routerLinknpm="/contact" class="underline-hover active">
        <div class="inner-item">
          <i class="bi bi-signpost-2"></i>
          <span>Contact</span>
        </div>
      </a>
    </li>
  </ul>
</div>
