.container {
  background-color: #0d1b2a;
  display: flex;
  min-width: 100vw;
  height: 91px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1000;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition-duration: 0.4s;
  list-style-type: none;

  .item {
    font-size: 16px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    font-weight: 400;
    opacity: 1 !important;

    .inner-item {
      padding: 4px 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
}

.logo {
  .logo-photo {
    margin: 8px;
    width: 75px;
    height: 75px;
    border-radius: 80% 80% 80%;
    box-shadow: 0 1px 5px #000;
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }

  .logo-title {
    margin: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
  }
}

a {
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.3s;
  font-size: 1rem;
  color: #fff;
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease;
}

span {
  margin: 4px 0;
}

.underline-hover {
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffbd39;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
  }

  &:hover {
    &:after {
      transform: scaleX(1);
      transform-origin: bottom center;
    }
  }
}
